*
{
  font-family: Sans-Serif, Times New Roman, Comic Sans MS, Consolas, ;
}

.top
{
  background-color: black;
  color: white;
  font-family:Sans-Serif ;
  display: flex;
  justify-content: space-evenly;
  
}
.logo
{
  display: flex;
  animation: logo 5s ease-in-out;
}
.logo h1
{
  font-size: 100px;
}
@keyframes logo
{
  0%
  {
    opacity: 5;
    transform: translateX(50%);
  }
}
.welcome h1
{
  font-size: 80px;
  justify-content: center;
  display: flex;
  background-color: black;
  color: white;
  
}
p {
  font-size: 25px;
}
spam
{
  color : blue;
}
button
{
  display: flex;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: blue;
  color: white;
}
button:hover {
  background-color: red;
}
.container
{
  display:grid;
  margin-top: 30px;
  justify-content: space-evenly;
  padding-bottom: 30px;
  margin-bottom: 10px;
  
}
img
{
  border-radius: 10%;
  padding-bottom: 10px;
  
}
.endbox
{
  margin-top: 30px;
  display:grid;
  background-color: orange;
  color: white;
  justify-content: center;
}
.endbox a{
  color: black;
}
@media screen and (max-width:900px)
{
  body{background-color:white; }
}
@media screen and (max-width:600px){
  body{
    background-color: lightcoral;
  }
}
@media screen and (max-width:300px) {
  body {
    background-color: white;
  }
}
a{
  text-decoration: none;
  color: white;
}
